.jumbotron{
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 1px;
    word-wrap: break-word;
}

.jumbotron#titleBanner{
    background-color: black;
    color: white;
}

#info {
    padding: 5px;
    font-size: large;
}

.numbers{
    padding: 30px;
}

span{
    font-weight: bold;
}

button{
    margin: 2px;
}